html {
    scroll-behavior: smooth;
}
html, body {
    overflow-x:hidden;
}
body {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    background-image:linear-gradient(to right, #000000, #ffffff); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat:no-repeat;
    color:white;
}
.dotted-list ul {
    list-style: none;
}
.dotted-list {
    position:fixed;
    top:0;
    left:0;
    margin-right:20px !important;
    z-index:10 !important;
}
.dotted-list a {
    text-decoration: none;
    color:white;
}
.dotted-list li {
    margin-top:20px;
}
.dotted-list a:hover {
    background-color:white;
    color:black;
    border-radius:20px;
    padding: 5px 5px 5px 5px;
}
.main-central {
    background: url("main-place.jpg");
    height:500px;
    border-radius:20px;
    box-shadow:10px 10px 5px #352b4e;
    width:95%;
    position:relative;
    left:15px;
    z-index:0 !important;
}
.main-central h1 {
    position:relative;
    top:180px;
    margin: 0px 10px 20px 10px;

}
.btn-learn {
    position:relative;
    top:210px;
    text-decoration: none;
    border-color:white !important;
    border-width:5px !important;
    border-style:solid;
    color:white;
    padding:10px 10px 10px 10px;
}
.btn-learn:hover {
    background-color:white;
    color:black;
    font-weight:bold;
    box-shadow: 10px 10px 5px #0c0c0c81;
}
#work-card {
    display:block;
    margin-top:100px;
}
.image-card {
    border-style:solid;
    border-width:10px;
    border-color:white;
    border-radius:20px;
}
.credit-link {
    text-decoration: none;
    color:white;
}
.credit-link:hover {
    background-color: white;
    color:black;
    padding: 10px 10px 10px 10px;
}
#work-card p {
    color:white;
    font-size: 15px !important;
    z-index:11;
    position:relative;
    bottom:50px;
}
.shrek-link-card {
    opacity:1;
}
.shrek-link-card:hover {
    opacity:0.3;
}
.text {
    position: absolute;
    z-index:100 !important;
}
#about-card {
    background:url("contact-bg.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width:98%;
    height:700px;
    position:relative;
    left:10px;
    bottom:20px;
    border-radius:20px;
}
#about-card p {
    padding: 20px 20px 20px 20px;
    font-size:18px;
}
.email-card {
    text-decoration:none;
    color:white;
}
.email-card:hover {
    background-color: white;
    color:black;
    padding:10px 10px 10px 10px;
    font-weight: bold;
}
.contact-links-card {
    margin-left:70px;
}
#about-card h2 {
    font-size:50px;
}
.important-info {
    padding: 2px 2px 2px 2px;
    color:#fff48e;
}
.my-image {
    left:980px;
}
@media only screen and (max-width:430px) {
    .image-card {
        border-width:5px;
    }
    #firstimg {
        width:180px !important;
        position:relative;
        left:10px;
    }
    #secondimg {
        width:100px !important;
        position: relative;
        left:20px !important;
    }
    #thirdimg {
        width:100px !important;
        position:relative;
        left: 10px !important;
        bottom:30px;
    }
    #fourthimg {
        width:100px !important;
        position:relative;
        top:-50px;
        left:-40px !important;
    }
    #fifthimg {
        width:100px !important;
        top:-25px;
        left:50px !important;
    }
    .dotted-list {
        position:fixed;
        top:0;
    }
    #about-card {
        position:relative;
        bottom:20px !important;
        margin-top:-500px;
        left:5px !important;
        height:800px !important;
    }
    .main-central {
        position: relative;
        left:5px !important;
    }
    .btn-learn {
        background-color:white;
        padding: 10px 10px 10px 10px;
        color:black;
        box-shadow: 10px 10px 5px #0c0c0c81;
        position: relative;
        top:150px;
    }
    .dotted-list a {
        background-color:rgba(255, 255, 255, 0.747);
        color:black;
        border-radius:20px;
        padding: 5px 10px 5px 5px;
        margin-top:10px;
        box-shadow: 5px 5px 5px #0c0c0c81;
    }
    .dotted-list ul {
        position:relative;
        right:35px;
    }
    .email-card {
        background-color:white;
        padding: 3px 3px 3px 3px;
        color:black;
    }
    .main-central h1 {
        position:relative;
        top:100px;
    }
    .shrek-link-card {
        position:relative;
        left:700px;
        margin-bottom:220px;
        top:90px;
    }
    #shrekimg {
        width:200px !important;
        height:100px !important;
    }
    .my-image {
        left:180px;
        margin-top:100px !important;
    }
}
@media only screen and (min-width:440px) and (max-width: 900px) {
    .btn-learn {
        background-color: white;
        color:black;
        box-shadow: 10px 10px 5px #0c0c0c81;
    }
    .dotted-list a {
        background-color:rgba(255, 255, 255, 0.747);
        color:black;
        border-radius:20px;
        padding: 5px 10px 5px 5px;
        box-shadow: 5px 5px 5px #0c0c0c81;
    }
    #firstimg {
        width:400px !important;
    }
    #secondimg {
        width:300px !important;
        position:relative;
        left:50px !important;
    }
    #thirdimg {
        width:300px !important;
        position:relative;
        left:20px !important;
    }
    #fourthimg {
        width:300px !important;
        position:relative;
        top:-120px;
        left:440px !important;
    }
    #fifthimg {
        width:400px !important;
        position:relative;
        bottom:300px !important;
        right:350px !important;
    }
    #about-card {
        position:relative;
        bottom:20px !important;
        margin-top:-600px;
        left:5px !important;
    }
    .my-image {
        left:370px;
        margin-top:100px !important;
    }
    .email-card {
        background-color: white;
        color:black;
        padding: 3px 3px 3px 3px;
    }
}
.darkmode-btn button {
    border-radius: 20px;
    background-color: black;
}
